 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,500&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,500&display=swap'); 
/* nabar */
.bi-search{
  margin-left: 100px;
}
.bi-bell{
  margin-left: 0px;
  margin-left: 25px;
}
.bi-person-circle{
  margin-left: -10px;
  width: 52px;
}
.navbar-nav li a{
  margin: 0 25px;
}

.navbar-nav .nav-item1  a{
  margin: 0 50px;
}

.aboutuss{
  font-family: 'Poppins', sans-serif;
}

.AboutUs{
    margin-top: 10px;
    width: 70%;
    margin-left: 150px;
    
}

.icon{
  margin-top: -150px;
}

  /* icons */
.fb{
  margin-left: 510px;
  margin-top: 200px;
}
.insta{
  margin-left: 570px;
  margin-top: -52px;
}
.twitter{
  margin-left: 630px;
  margin-top: -53px; 
}
.youtube{
  margin-left: 700px;
  margin-top: -52px; 
}


  /* footer */
  .footer {
    margin-top: 20PX;
      width: 100%;
      height: 10px;
      background: var(--white);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    
    .footer__wrapper {
      width: 970px;
    }
    
    .footer ul {
      font-size: 12px;
      list-style: none;
      color: #86868b;
      border-bottom: 1px solid var(--greyLight);
    }
    
    .footer ul li {
      margin: 15px 0;
      letter-spacing: 0.1px;
    }
    
    .footer__links {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    
    .footer__links--column {
      width: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    
    .footer__links--column-title {
      font-weight: 400;
      font-size: 12px;
      margin-top: 18px;
      margin-bottom: 15px;
      letter-spacing: 0.5px;
    }
    
    .footer__links--column a {
      font-size: 12px;
      color: #515154;
      margin-bottom: 12px;
    }
    
    .footer__more {
      font-size: 13px;
      color: #86868b;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--greyLight);
    }
    
    .footer__more a {
      color: #06c;
    }
    
    .footer__copyright {
      width: 100%;
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 13px;
      color: #86868b;
      margin-top: 4px;
      position: relative;
    }
    
    .footer__copyright .links {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    
    .footer__copyright .links a {
      padding: 0 10px;
      color: #515154;
      border-left: 1px solid var(--greyLight);
    }
    
    .footer__copyright .links a:nth-child(1) {
      border: none;
    }

